@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Playfair+Display:700&display=swap&subset=latin-ext');

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.body {
  background-color: #ffefef;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo {
  width: 25%;
  display: block;
  /* margin: 15px auto; */
}

.header__text {
  font-size: 20px;
  width: 45%;
  text-align: center;
  padding: 10px 0 35px;
}

.content {
  background-color: #fff;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
}
